.Projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

}
.projects-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
}
.projects-grid>div{
    border: 1px solid red;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}