.Hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}
.Hero--info {
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
}
.Hero--info span {
  color: #ee8315;
}

.Hero--img {
  display: flex;
  justify-content: flex-end;
  max-height: 455px;
  max-width: 100%;
}



@media (max-width: 640px) {
  .Hero {
    flex-direction: column;
  }
}
