.resume-btn button {
  font-size: 16px;
  font-weight: 400;
  background-color: #ee8315;
  color: #ededed;
  border: 2px solid transparent;
  border-radius: 24px;
  padding: 12px 16px;
  margin-top: 32px;
}
.resume-btn button:hover {
  color: #ee8315;
  background-color: #ffffff;
  font-weight: 500;
  border: 2px solid #ee8315;
}

@media (max-width: 640px) {
  .resume-btn button {
    margin-top: 16px;
  }
}
