.WorkType {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.WorkType-leftblock {
  width: 60%;
  height: 475px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}
.WorkType-leftblock > h3 {
  font-size: 16px;
  font-weight: 400;
}
.WorkType-leftblock > h2 {
  font-size: 30px;
  font-weight: 700;
}
.WorkType--blocks {
  display: grid;
  height: 324px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}
.WorkType--blocks > div {
  background-color: rgba(255, 255, 255, 0.141);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.WorkType--blocks > div > img {
  width: 45%;
  height: 45%;
}
.WorkType img {
  max-height: 455px;
  max-width: 100%;
}

@media (max-width: 900px) {
  .WorkType {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .WorkType-leftblock {
    width: 100%;
    height: fit-content;
    gap: 20px;
  }
  .WorkType-leftblock > h3 {
    margin-top: 0;
  }
  .WorkType--blocks {
    height: 175px;
  }
}
