.CallToAction {
  background-color: #ee81154d;
  border-radius: 4px;
  padding: 8px 26px;
  max-height: 120px;
  height: 120px;
  margin-top: 75px;
  margin-bottom: 75px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 12px;
}
/* left side || top side(@media) */
.CallToAction--info {
  width: 40%;
  padding: 0 20px;
}
.CallToAction--info h2 {
  font-size: 24px;
  font-weight: 700;
}
.CallToAction--info p {
  font-size: 16px;
  font-weight: 300;
}

/* right side  || bottom side(@media)*/
.CTL--email {
  display: flex;
  width: 55%;
  align-items: center;
  justify-content: center;
}
.CTL--email input {
  border: none;
  width: 65%;
  height: 45px;
  border-radius: 4px 0 0 4px;
  /* box-shadow: rgba(100, 100, 111, 0.149) 0px 7px 29px 0px; */
  padding: 20px;
  outline: none;
}

.CTL--email img {
  width: 24px;
}
.CTL--email button {
  height: 45px;
  width: 65px;
  border: none;
  border-radius: 4px;
  margin: 0;
  border-radius: 0 4px 4px 0;
  background-color: #ffff;
}

@media (max-width: 640px) {
  .CallToAction {
    flex-direction: column;
    max-height: 200px;
    height: fit-content;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  .CallToAction--info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
