*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  scroll-padding-top: 45px;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: #1f1f1f;

  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;

  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  width: 100%;
}

main {
  padding-bottom: 24px;
}

main > :first-child {
  margin-top: 0;
}

main > :last-child {
  margin-bottom: 0;
}

@media (max-width: 320px) {
  body {
    overflow-x: auto;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

::selection {
  background-color: #79ffe1;
  color: #000;
}
