.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Header h1 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.Header svg {
  height: 20px;
}

.Header a {
  display: flex;
  gap: 6px;
  font-size: 18px;
}
.Header a:hover {
  color: #ee8315;
}

.Footer {
  height: 20px;
  width: 100%;
  /* background-color: #43434370; */

  padding: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Footer h5 {
  color: rgba(0, 0, 0, 0.587);
  font-size: 14px;
  font-weight: 200;
}

@media (max-width: 640px) {
  .Header h1 {
    font-size: 24px;
  }

  .Header span {
    display: none;
  }
  .Header svg {
    height: 24px;
  }
}
