* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito Sans", sans-serif;
  background-color: rgb(255, 255, 255);
  color: #373737;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  cursor: pointer;
}

.container {
  padding: 40px 20px;
  max-width: 1200px;
  width: 92%;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  
}
