.Banner {
  background-color: #ee81154d;
  border-radius: 4px;
  padding: 8px 26px;
  max-height: 120px;
  height: 120px;
  margin-top: 75px;
  margin-bottom: 75px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 12px;
}

/* left side  || top (@media)*/
.Banner--info {
  width: 40%;
  padding: 0 20px;
}
.Banner--info h2 {
  font-size: 24px;
  font-weight: 700;
}
.Banner--info p {
  font-size: 16px;
  font-weight: 300;
}

/* right side  || bottom (@media) */
.Banner--action {
  display: flex;
  width: 55%;
  align-items: center;
  justify-content: space-around;
}

.Banner--action svg {
  width: 36px;
  height: 36px;
}
.Banner--action h3 {
  font-weight: 300;
  font-size: 16px;
}
.Banner--action a:hover {
  color: #ee8315;
}

@media (max-width: 640px) {
  .Banner {
    flex-direction: column;
    max-height: 200px;
    height: fit-content;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  .Banner--info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .Banner--action {
    width: 60%;
    justify-content: space-between;
  }
  .Banner--action h3 {
    display: none;
  }
}
